:root {
    --color1: rgb(135, 150, 115);
    --color2: rgb(255, 255, 255);
    --color3: rgb(210, 210, 210);
    --color4: rgb(200, 160, 100);
    --color5: rgb(200, 100, 60);
    --color6: rgb(30, 30, 30);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: black;
    background-color: var(--color6);
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}
