.phone-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 910px;
    margin: 10px;
}

.phone-display {
    background-color: white;
    width: 380px;
    height: 860px;
    overflow: hidden;
    z-index: 2;
    border-radius: 4%;
}

.phone-edge {
    border-radius: 8%;
    border-top: 25px solid var(--color3);
    border-right: 15px solid var(--color3);
    border-left: 15px solid var(--color3);
    border-bottom: 25px solid var(--color3);
    width: 380px;
    height: 860px;
    position: absolute;
    z-index: 1;
}

.phone-btn1 {
    position: absolute;
    top: 20%;
    left: 1.4%;
    height: 50px;
    width: 5px;
    background-color: rgb(180, 180, 180);
    border-radius: 15%;
    z-index: 1;
}

.phone-btn2 {
    position: absolute;
    top: 32%;
    left: 1.2%;
    height: 80px;
    width: 8px;
    background-color: rgb(180, 180, 180);
    border-radius: 10%;
    z-index: 1;
}

.phone-btn3 {
    position: absolute;
    top: 44%;
    left: 1.2%;
    height: 80px;
    width: 8px;
    background-color: rgb(180, 180, 180);
    border-radius: 10%;
    z-index: 1;
}

.phone-btn4 {
    position: absolute;
    top: 36%;
    right: 1.2%;
    height: 120px;
    width: 8px;
    background-color: rgb(180, 180, 180);
    border-radius: 10%;
    z-index: 1;
}

.phone-camera {
    position: absolute;
    top: 0.5%;
    left: 22%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
    z-index: 3;
}

@media screen and (max-width: 600px) {

    .phone-btn1,
    .phone-btn2,
    .phone-btn3,
    .phone-btn4,
    .phone-camera,
    .phone-edge {
        display: none;
    }

    .phone-container {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .phone-display {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        overflow-y: auto;
    }
}